@import 'jeet'
@import 'rupture'

width = 700px
height = 500px
menu-height = 48px

play-button-size = 170px

body
	width width
	height height
	
#player
	span(1/3)
	height height
	margin 0
	
#base
	span(2/3 - 20px)
	margin 0 10px 0 10px
	height height - menu-height
	width 446px !important
	
.tab
	cursor pointer
	height menu-height
	
.search
	margin-top 30px
	
.collection
	margin-top 0
	margin-bottom 0
	
.input-field label
	left 0

.search, #results
	width ((width * (2 / 3)) - 20px)

.results-catagory-title
	font-size 1.7rem
	background #000
	margin-top 5px
	width ((width * (2 / 3)) - 100px)

.collection-header
	background #000 !important

.collection-item
	min-height 0 !important
	
#results
	height 410px
	overflow auto
	
.source
	position absolute
	bottom 10px
	right 10px
	height 10px
	width auto

.item
	border-left 5px solid #000

.itemhover
	border-left 5px solid #616161
	
.image
	width 28px
	height 28px

.imagehover
	cursor pointer !important
		
.circle
	border-radius 0
	background black
	
.play
	border-radius 50%
	border 2px solid white
	position absolute
	top 6.5px
	left 10px
	background rgba(1,1,1,0.7)
	padding 0 !important
	line-height 24px !important
	font-size 24px !important
	width auto !important
	
.action
	position absolute
	top 11px
	right 10px
	margin-left 10px
	width 20px !important
	height 20px
	
.action-text
	font-size 20px !important
	line-height 20px !important
	margin-right 0 !important
	width 20.5px !important
	position absolute
	top 0
	right 0
	
.image
	position absolute
	top 6.5px
	left 10px

.title
	display inline-block;
	position absolute
	top 4.5px
	left 50px
	
.subtitle
	display inline-block;
	position absolute;
	top 20px
	left 50px
	
.title, .subtitle
	color white !important
	
.collection-header, .colleciton-body
	background #424242
	border-color #000

.album-add
	position: relative !important
	display inline-block
	float right !important
	top: 0 !important
	margin-right -20px !important

.playlist-song, .playlist-header
	width 437px
	border-left: 5px solid #000
	
.playlist-song
	height 42px
	
.playlist-song:hover, .playlist-header:hover
	border-left: 5px solid #616161
	
#playlist-name
	border-color #878787 !important
	
.add-playlist
	center(56px)
	
.modal
	background-color #424242
	
#add-playlist-modal
	height 200px !important
	z-index 99
	
.add-modal-footer
	background-color #616161 !important
	
.btn-flat
	padding 0 28px 0 28px !important
	
.add-song-to-playlist .collection-item
	display block !important
	text-align center
	
.add-song-to-playlist .collection-item:hover
	cursor: pointer
	
.collapsible-body
	border-bottom: none;
	
.down
	transform: rotate(90deg);
	right: 40px

.up
	transform: rotate(-90deg);
	right: 70px
	
.delete-album
	left 4px
	position: relative !important;
	display: inline-block;
	float: right !important;

.playing-song
	padding-top 30px
	center(play-button-size + 10)
	width: play-button-size + 10
	height: play-button-size + 10

.control-song, .load-song
	position absolute
	top 30px
	
.control-song
	center(play-button-size + 6px)
	font-size: play-button-size !important
	box-sizing: border-box;
	border-radius 50%
	color white
	background #212121 
	opacity .5
	border 3px solid 

.control-song.active:hover
	cursor pointer
	
.forwards.active:hover, .backwards.active:hover
	cursor pointer
	
.load-song
	height 50px
	width 90px
	display:flex;
	justify-content:center;
	align-items:center;

.song-image
	center(play-button-size + 10)
	background black
	width play-button-size + 10
	height play-button-size + 10
	
.song-title, .song-artist
	text-align center

.song-title
	center(play-button-size)
	
.song-artist
	center(play-button-size)
	
.change-song
	padding-top 40px
	width play-button-size
	center(play-button-size)
	div
		span(1/3)
		text-align center
		i
			border 3px solid #fff
			color #fff
			opacity .5
			border-radius 50%
			display inline-block
			text-align center
			font-size 50px !important
		i.active:hover
			cursor pointer